@import "../../styles/_variables.sass";

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .container {
    filter: brightness(100%);
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 1rem;
    flex: 1;
    
    .logo {
      color: rgb(196, 24, 24);
      font-family: $font-primary;
      font-weight: 900;
    }
  }
}
